<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script type="text/javascript">
      var auto_refresh = setInterval(
      function ()
      {
        $('#wrapper').load('base.html');
      }, 15000); // refresh every 15000 milliseconds


  </script>

  <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/stylesheet.css" />
  <title>
    SturdyBirdy</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <h1>SturdyBirdy<img src = "static/sturdybirdyfinal.jpg" width=5% height=10%></h1>
    <div id="container">
       {% block content %}{% endblock %}
    </div>

    <div id="dropdown">
    <form class="dropdown" action="{{ url_for('filterLocation') }}" method="POST">
    <select name="location" onchange="this.form.submit()">
      <option selected="selected">Location</option>
      <option value="Dude">Dude</option>
      <option value="BBB">BBB</option>
      <option value="DOW">DOW</option>
      <option value="EECS">EECS</option>
      <option value="UGLI">UGLI</option>
      <option value="Hatcher">Hatcher</option>
      <option value="LawLibrary">Law Library</option>
      <option value="Fishbowl">Fishbowl</option>
    </select>
    </form>
    </div>

    <div id="dropdown2">
    <form class="dropdown" action="{{ url_for('filterCourse') }}" method="POST">
    <select name ="course" onchange="this.form.submit()">
      <option selected="selected">Course</option>
      <option value="EECS183">EECS183</option>
      <option value="EECS203">EECS203</option>
      <option value="EECS280">EECS280</option>
      <option value="EECS281">EECS281</option>
      <option value="EECS370">EECS370</option>
      <option value="EECS376">EECS376</option>
      <option value="EECS381">EECS381</option>
      <option value="EECS388">EECS388</option>
      <option value="EECS481">EECS481</option>
      <option value="EECS485">EECS485</option>
    </select>
    </form>
    </div>

    <div id="wrapper">
      <div id="container">

        <div id="feed">
         {% for person in feed %}
         <div id="feedEntry">
            Name : {{ person.name }} &nbsp;&nbsp;-&nbsp;&nbsp; Location : {{ person.location }} &nbsp;&nbsp;-&nbsp;&nbsp; Course : {{ person.course }} &nbsp;&nbsp;-&nbsp;&nbsp; Shirt Color : {{ person.shirt }}
            <hr>
         </div>
         {% endfor %}
       </div>
    </div>
   </div>
 </body>
 </html>


