<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script type="text/javascript">
      var auto_refresh = setInterval(
      function ()
      {
        $('#wrapper').load('base.html');
      }, 15000); // refresh every 15000 milliseconds


  </script>

  <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/stylesheet.css" />
  <title>
    SturdyBirdy</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <h1>SturdyBirdy</h1>

    
    <div id="dropdown">
    <form action="{{ url_for('filtered') }}" method="POST">
    <select name="location">
      <option selected="selected">Location</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    </div>

    <div id="dropdown">
    <select name ="course">
      <option selected="selected">Course</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <label>
        <span>&nbsp;</span><input type="submit" value="Come study with me!" />
    </label>
    </form>
    </div>

    <div id="wrapper">
      <div id="container">
        {% block content %}{% endblock %}
        <div id="feed">
         {% for person in feed %}
         <div id="feedEntry">
            {{ person.name }} is at {{ person.location }} studying {{ person.course }}, wearing a {{ person.shirt }} shirt 
            <hr>
         </div>
         {% endfor %}
       </div>
    </div>
   </div>
 </body>
 </html>