<!DOCTYPE html>
<html>
<head>
  <style type='text/css'>
    @font-face {
      font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-size: 70px;
        color: #D9D5C5;
        font-style: bold;
        background-color: #6D5D49;
    }

    body {

        text-align: center;
        font-family: 'Roboto';
        color: #4E4F3E;
        font-size: 24px;
    }

    p {
        text-align: center;
    }

    button {
      font-size: 20px;
      font-family: 'Roboto';
    }

    #bg {
        position: fixed;
    }
</style>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="stylesheet.css" />
    <title>
      SturdyBirdy</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>SturdyBirdy</h1>
    <h2>Hi, {{ name }}! Id: {{ idNum }}</h2>
    <!--{% for post in posts %}
    <div class="header"><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}-->
     <form method="post" action="{{ url_for('posted') }}">
      <p><label>Name:</label> <input type="text" name="name"></p>
      <p><label>Building:</label> <input type="text" name="location"></p>
      <p><label>Course:</label> <input type="text" name="course"></p>
      <p><label>Shirt Color:</label> <input type="text" name="shirt"></p>
      <!--<p><label>Shirt:</label> <input type="text" name="shirt" ></p>-->
      <p><button type="submit">Come study with me!</button></p>
    </form>
    <div>
        {% for person in feed %}
          <div>{{ person.name }} is at {{ person.location }} studying {{ person.course }}, wearing {{ person.shirt }} </div>
        {% endfor %}
    </div>
</body>
</html>
