{% extends "base.html" %}
{% block content %}
    <h2>WHO ARE YOU??? WHERE U AT??? Id: {{ idNum }}</h2>
    <!--{% for post in posts %}
    <div class="header"><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}-->
     <form method="post" action="{{ url_for('posted') }}">
      <p><label>Name:</label> <input type="text" name="name"></p>
      <p><label>Building:</label> <input type="text" name="location"></p>
      <p><label>Course:</label> <input type="text" name="course"></p>
      <p><label>Shirt Color:</label> <input type="text" name="shirt"></p>
      <!--<p><label>Shirt:</label> <input type="text" name="shirt" ></p>-->
      <p><button type="submit">Come study with me!</button></p>
    </form>
{% endblock %}
